:root {
    --padding-standard: 4rem;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.light-theme {
    --paragraph-text: rgb(94, 94, 94);
    --accent-text: rgb(56, 56, 56);
    --header-text: black;
    --background-color: rgb(235, 235, 235);
    --header-background: white;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.dark-theme {
    --paragraph-text: rgb(156, 158, 166);
    --accent-text: rgb(198, 201, 211);
    --header-text: white;
    --background-color: rgb(41, 54, 64);
    --header-background: rgb(53, 66, 76);
    --box-shadow: 0 0 10px rgba(40, 43, 58, 0.964);

}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

body {
    margin: 0;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem var(--padding-standard);
    box-shadow: var(--box-shadow);
    background-color: var(--header-background);
}

header h1 {
    color: var(--header-text);
    font-size: 1.6rem;
    letter-spacing: .01rem;
}

.dark-mode-wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.dark-mode-wrapper h3 {
    color: var(--header-text);
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    header {
        padding: 1rem;
    }
}

/* MAIN */
.home {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: var(--padding-standard);
    gap: var(--padding-standard);
    max-width: 100vw;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-wrapper {
    position: relative;
    width: 40%;
}

.input-wrapper input {
    border: none;
    width: 100%;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    outline: none;
    background-color: var(--header-background);
    color: var(--header-text);
}

.input-wrapper input::placeholder {
    padding-left: 3rem;
    color: rgb(162, 162, 162);
}


.input-wrapper svg {
    position: absolute;
    top: .9rem;
    left: 2rem;
}

.suggestion {
    position: absolute;
    top: 4rem;
    background-color: var(--header-background);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    width: 250px;
    outline: none;
}

.suggestion p:hover {
    font-weight: 700;
    cursor: pointer;
}

.suggestion-text {
    color: var(--header-text);
}

.search-container select {
    width: 20vw;
    border: none;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

#dropdown {
    background-color: var(--header-background);
    color: var(--paragraph-text);
    font-weight: 500;
}


@media screen and (max-width: 700px) {
    .home {
        padding: 1rem;
        gap: 2rem;
        max-width: 100vw;
    }

    .search-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding-top: 1rem;
    }

    .input-wrapper {
        width: 100%;
    }

    .input-wrapper svg {
        top: 1.1rem;
    }

    .search-container select {
        width: 50vw;
        border: none;
        padding: 1rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
    }

}

/* CARDS */
.main-grid {
    display: grid;
    gap: var(--padding-standard);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: auto;
}

.card {
    background-color: var(--header-background);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.card-info {
    padding: 2rem;
}

.card h2 {
    color: var(--accent-text);
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1.4rem;
}

.stats,
.card-info p {
    color: var(--accent-text);
    font-weight: 600;
    margin: 0;
    padding-bottom: 0.5rem;
}


.card-info span {
    color: var(--paragraph-text);
    font-weight: 400;
}

/* CHOSEN COUNTRY PAGE */
.chosen-country {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.button-container {
    padding: var(--padding-standard) var(--padding-standard) 0rem var(--padding-standard);
}

.chosen-country-grid>div {
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: var(--padding-standard);
}

.flag-image img {
    width: 80%;
}

.country-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.country-info h2 {
    color: var(--header-text);
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1.8rem;
}

.stats {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: var(--padding-standard);

}

.stats span {
    font-weight: 400;
}

.border-countries {
    display: flex;
    gap: 1rem;
}

.border-countries p {
    color: var(--accent-text);
    font-weight: 600;
    margin: 0;
    padding-top: 0.5rem;
}

.border-countries-btn-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    gap: .5rem;
}

@media screen and (max-width: 700px) {
    .chosen-country {
        height: auto;
    }

    .button-container {
        padding: 2rem;
    }

    .chosen-country-grid>div {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .flag-image img {
        width: 100%;
    }

    .country-info {
        padding-top: 2rem;
    }

    .country-info h2 {
        padding-bottom: 1rem;
        font-size: 1.4rem;
    }

    .stats {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .border-countries {
        flex-direction: column;
    }

    .border-countries-btn-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: dense;
        grid-auto-rows: auto;
        gap: .5rem;
    }
}

/* BUTTONS */
.primary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .7rem 2.4rem;
    background-color: var(--header-background);
    border: none;
    border-radius: .3rem;
    box-shadow: var(--box-shadow);
    color: var(--paragraph-text);
    cursor: pointer;
}

.border-btn {
    width: 100%;
    padding: 0.5em 2rem;
}

.hidden {
    display: none;
}